body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  img{
    margin-left: 224px;
  }
  
  header {
    margin-top: 24px;
    background-color: none;
    color: rgb(54, 27, 1);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
    color: rgb(54, 27, 1);
  }

  body {
    background-image: url('/flag.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-size: 100% 100%;
  }
  
  
  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0.5, 0.5);
  }
  
  h2 {
    font-size: 24px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  iframe{
    margin-left: 124px;
  }
  
  footer {
    background-color: none;
    margin-top: 72px;
    color: rgb(54, 27, 1);
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }